:root {
  --main-blue: #364c96;
  --main-blue-hovered: #2f3f7d;
  --main-pink: #ff8496;
  --main-pink-hovered: #ef7272;
  --main-yellow: #ffc9a5;
  --main-white: #eaebed;
  --main-white-hovered: #efe2e2;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-white);
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
